body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-row: 1/3;
  background-color: #1e3a8a;
  padding: 30px;
  z-index: 1;
  color: #fff;
}

.sidebar-item.sidebar-header a {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sidebar-content {
  display: grid;
  gap: 25px;
  
}
.sidebar-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.sidebar-icon,
.sidebar-icon img {
  height: 24px;
  width: 24px;
}

.sidebar-icon > img > svg > path {
  fill: #fff;
}

.sidebar-header .sidebar-icon,
.sidebar-header .sidebar-icon img {
  height: 40px;
  width: 40px;

}

.sidebar-item:nth-child(7){
  margin-bottom: 50px;
}

.header {
  padding: 15px 30px;
  box-shadow: 0px 4px 15px #dfdfdf;
}

.search-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="search"] {
  margin-right: 4rem;
  appearance: none;
  background-color: #dbe3eb;
  height: 30px;
  border: none;
  border-radius: 15px;

}
input[type="search"]:focus {
  outline: none;
}

.search-icon {
  height: 24px;
}
.header-user-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: center;
}
.notif-icon {
  height: 24px;
}
.user-avatar.mini img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-name.mini {
  font-weight: 600;
}

.user-name.regular {
  font-weight: 700;
  font-size: 24px;
}
.user-name.regular span {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.main-header {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

.header-user-greeting {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 30px;
  align-items: center;
  
}

.header-user-greeting .user-avatar {
  width: 70px;
  height: 70px;
}

.user-avatar.regular img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-filter-box {
  display: flex;
  gap: 30px;
}

.filter-btn {
  padding: 8px 30px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  border: none;
  color: white;
  background-color: #5087ff;
  border-radius: 30px;
}
.main-content {
  grid-column: 2/3;
  padding: 30px;
}
.main-grid {
  display: grid;
  gap: 30px;
  height: 100%;
  grid-template-columns: 3fr 1fr;
}
.grid-item {
}
.projects {
  background-color: aquamarine;
  grid-row: 1/3;
}
.main-heading {
  grid-column: 1/-1;
}

.projects-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.projects-grid-item {
  background-color: #fff;

}
.grid-item-heading {
}
.icon-box {
}
.icon-like {
}
.icon-watch {
}
.icon-share {
}
.announcements {
  background-color: #fff;
}
.announce-grid {
  padding: 30px;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: 30px;
  
}
.announce-grid-item {
}

.trending {
  background-color: lightyellow;
  grid-column: 2/3;
}
.trending-grid {
  background-color: antiquewhite;
  padding: 30px;
  display: grid;
  gap: 30px;
}

.trending-grid-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.trending-grid-item .user-avatar {
  grid-row: 1/3;
}
.user-nickname {
}
